*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.one{
margin-top:70px;
background-color: red;
display: flex;
justify-content: center;
align-items: center;
height:400px;
width:400px;
}
.two{
    background-color: blue;
    border-radius:100%;
    display: flex;
justify-content: center;
align-items: center;
    height: 300px;
    width: 300px;   
}
.three{
    background-color:whitesmoke;
    display: flex;
justify-content: center;
align-items: center;
    height: 200px;
    width: 200px;  
}
.four{
    background-color: black;
    display: flex;
justify-content: center;
align-items: center;
    height: 100px;
    width: 100px; 
    border-radius: 100%;  
}
button:hover{
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    margin-right: 40px;
    width: 90px;
    height: 30px;
    border: hidden;
}